@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}

.brand{
    color: #FD295D;
}

.btn-plein{
    background-color: #FD295D;
    color: white;
}

.btn-vide{
    border: 1px solid #FD295D;
    color: #FD295D;
}

.btn-vide:hover{
    background-color: #FD295D;
    color: white;
}

.btn-plein:hover{
    background-color: white;
    border: 1px solid #FD295D;
    color: #FD295D;

}

.imgContent{
    box-shadow: 0px 0px 20px rgb(172, 167, 167);
    border-radius: 20px;
}

img{
    border-radius: 20px;
}

.spanSection2{
    color: #FD295D;
}

.statsNumb{
    color: #FD295D;
    font-size: 1.7rem;
}

.statsNumb p{
    
}

